.miniIconSelected {
	width: 60px;
	height: 60px;
	border-radius: 10px;
	object-fit: cover;
	background-color: var(--primary);
}

.miniIcon {
	width: 60px;
	height: 60px;
	border-radius: 10px;
	object-fit: cover;
	filter: grayscale(100%);
	transition: all 0.6s ease;
}

.miniIcon:hover {
	filter: grayscale(0);
	background-color: var(--primary);
}
